.dateInput {
    width: 120px;
    margin: 1%;
    display: flex;
    justify-content: center;
    border: 1px solid #000;
    border-radius: 20px;
}

.dateQuery {
    width: 100%;
    margin: 2px;
    margin-left: 10px;
    background: transparent;
    border: 0;
}

.dateQuery:focus-visible {
    outline: 0;
}

.logo {
    max-width: 15px;
    max-height: 15px;
}

.button {
    margin: 2px;
    background: transparent;
    border-radius: 20px;
    border: 0;
    display: flex;
}

.button:hover {
    background: rgba(61,145,255,25%);
}